# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.conda/
env/
venv/
ENV/
wafer_env/

# Large Files, Models & Datasets
*.pth
*.pkl
*.h5
*.zip
WM811K_Balanced_Kaggle/
*.log

# Operating System Files
Thumbs.db
ehthumbs.db
.DS_Store